@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-style: normal;
  /* 스크롤바 숨기기 
    -ms-overflow-style: none; IE and Edge
    scrollbar-width: none; Firefox */
    
  /* 요소의 크키에 상관없이, 세로 스크롤 생성*/
  overflow-y: scroll;
}
/* 스크롤바 숨기기 */
/* ::-webkit-scrollbar {
    display: none; Chrome, Safari, Opera
} */